:root{
    --Dark-green: #0B525B;
    --light-orange:#F4A261;
    --orange:#FF6700;
    --text:white;
    --light-text:rgba(255, 255, 255, 0.82);
    --nav-color:#F4A261;
    --hover-color-nav:#FF6700;
    --hover-color-button:white;
    --hover-color-button-text:#FF6700;
    --invalid-color:red;
    --big-title-56:3.5rem;
    --line-height:0.666666667;
    --sub-title-38:2.375rem;
    --small-title-42:2.625rem;
    --container-1237:77.3125rem;
    --transition-delay-buttons:0.3s;
    --hambourger-back-color:#E5F9E0;
    
    /* --sub-title-TS:2.625rem;
    --sub-title-LH-:0.666666667; */

}

html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Dark-green);
    overflow-x:none;
    margin-top: -22px;
}
header{
    margin-top: 30px;
}
.hamburger_c{
    width: 100%;
display: flex;
flex-direction: column;
align-items: flex-end;
}
.hamburger_view{
    visibility: hidden;
    display: none;
    z-index: -2;
}

.container{
    width: calc(100% - 12.5rem);
   
    max-width: var(--container-1237);
    margin-inline: auto;
}

.navigation{
    width: 100%;
display: grid;
grid-template-columns: 50% 50%;
overflow: hidden;

}
.logo{
    width: 60px;
    height: 60px;
    grid-column-start: 1;
  grid-column-end: 1;
}
.bigtitle{
    font-size: 1.8125rem;
    font-size: clamp(1.8125rem, 1.475rem + 1.6875vw, 3.5rem);
text-decoration: none;
color: var(--text);
}
.button-container{
    display: flex;
flex-direction: row;
justify-content: flex-end;
padding-top: 5px;
padding-right: 4px;
}
.nav_button{
 
    width: 89px;
    height: 41px;
    color: var(--text);
    background-color: var(--light-orange);
    border-radius: 20px;
    border: none;
    font-size: 1.3125em;
    line-height: 1.5625em;
    margin-left: 12px;
    grid-column-start: 2;
  grid-column-end: 2;
  transition: var(--transition-delay-buttons);
  overflow: hidden;
}
.nav_button a{
    overflow: hidden;
}
.hambourger{
    visibility: hidden;
    display: none;
}

    

.nav_button:hover{
    background-color: white;
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
}
.front-page{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.front-page p{
    width: 40.500vw;
    padding: 0px;
    margin: 0px;
}
.front-page .bigtitle{
    margin-top: 105px;

}
/* .front-page_1    .resume{
    margin-top: 128px;
    width: 210px;
    height: 70px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: var(--light-orange);
    font-size: 1.875em;
    transition: var(--transition-delay-buttons);
}
.front-page .resume:hover{
    cursor: pointer;
    background-color: var(--hover-color-button);
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
} */
.resume2{
    visibility: hidden;
}
.front-page_2{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
}
.profile{
    width: 100%;
    height: auto;
  
}
.subtitle{
    font-size: 1.75rem;
    font-size: clamp(1.75rem, 1.6625rem + 0.43750000000000006vw, 2.1875rem);
    color: white;
}
.About{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.About .smalltitle{
    color: white;
    font-size: 1.75rem;
    font-size: clamp(1.75rem, 1.6625rem + 0.43750000000000006vw, 2.1875rem);

}
.About_text{
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 1.1125rem + 0.6875vw, 1.9375rem);
    text-align: justify;
    width: 21.1875em;
    color: white;
}
.About_2{
    display: flex;
}
#comp{
    width: 322px;
    height: auto;
}
#G1{
    animation: rotate 2.5s linear infinite;
    width: 15%;
    position: relative;
    top: 140px;
    right: 18px;
    height: 50px;
}
#G2{
    animation: rotate2 2.5s linear infinite;
    width: 23%;
    position: relative;
    top: 100px;
    height: 62px;
}
#cloud{
    animation: giggle 1s ease-in-out infinite;
}
#globe{
    /* animation: rotateBounce 6s ease-in-out infinite; */
    animation: rotateEarth 10s linear infinite;
}

.icon-container {
    position: relative;
    left: 35.375em;
    animation: switchIcon 2s ease-in-out infinite;
    bottom: 99px;
    overflow: hidden;
}
#DB1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#DB2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}

.work_done{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    transition: var(--transition-delay-buttons);
}
.work_done img:hover{
    transform: scale(0.9);
    transition: var(--transition-delay-buttons);
}
.sec_end{
    margin-top: 100px;
}

.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills p{
width: 107px;
height: 100px;
background-repeat: no-repeat;
background-position: center;
}
.skills2{
    visibility: hidden;
}
/* .skills .sub_skill {
    width: 214px;
    height: 110px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
} */
#git{
    background-image: url(./assets/images/git.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-top: 23px;
 
}
#git:hover{
    background-image: url(./assets/images/git_hover.svg);
    background-repeat: no-repeat;
background-position: center center;
}
#css{
    background-image: url(./assets/images/CSS3.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#css:hover{
    background-image: url(./assets/images/CSS3_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#html{
    background-image: url(./assets/images/Html.png);
    background-repeat: no-repeat;
    background-position: center center;
}
#html:hover{
    background-image: url(./assets/images/Html_hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
#js{
    background-image: url(./assets/images/javascript.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#js:hover{
    background-image: url(./assets/images/javascript_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#arduino{
    background-image: url(./assets/images/Arduino.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#arduino:hover{
    background-image: url(./assets/images/Arduino_hover.svg);
    background-repeat: no-repeat;
background-position: center center;
}
#mongodb{
    background-image: url(./assets/images/mongodb.svg);
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 150px;
}
#mongodb:hover{
    background-image: url(./assets/images/mongodb_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#postman{
    background-image: url(./assets/images/postman.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#postman:hover{
    background-image: url(./assets/images/postman_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.languages2{
    visibility: hidden;
}
.languages img{
    width: 75.33px;
}
.contact_me{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.contact_me_1{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.contact_me_1 .title_contact{
    margin-top: 46px;
    margin-bottom: 0px;
font-size: 1.75rem;
font-size: clamp(1.75rem, 1.525rem + 1.125vw, 2.875rem);
    color: white;
}
.contact_me_1 .text_contact{
    font-size:1.25em ;
    color: white;
}
.contact_me_1 input{
    padding-left: 12px;
    width: 382px;
    height: 43px;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--Dark-green);
    border: 1px solid var(--light-orange);
}
.contact_me_1 input::placeholder{
    font-size: 20px;
    color: white;

}
#message{
    padding-left: 12px;
    width: 544px;
    height: 166px;
    color: white;
    border-radius: 10px;
    margin-top: 51px;
    background-color: var(--Dark-green);
    border: 1px solid var(--light-orange);
}
.contact_me_1 span{
    color: lightgreen;
    font-size: 18px;
    font-weight: 500;
    margin-top: 8px;
    margin-left: 40px;
}
.contact_me_1 textarea::placeholder{
    position: relative;
    top:20px;
    font-size: 20px;
    color: white;
    background-color: var(--Dark-green);
    text-decoration: none;
}
.button_contact{
    width: 166px;
    height: 55px;
    font-size: 20px;
    margin-top: 40px;
    background-color: var(--orange);
    color: white;
    border-radius: 50px;
    border: none;
    transition: var(--transition-delay-buttons);
}
.button_contact:hover{
    background-color: var(--hover-color-button);
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
}
.contact_me_2{
    width: 20%;
    margin-top: 40px;
    color: white;
}
.contact_me_2 .line{
    display: block;
    border: 0.5px solid #8C8C8C;
    width: 240px;
    height: 0px;
}

.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer{
    
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-size:0.875em ;
    
}
.footer_line{
    margin-top: 40px;
    display: block;
    border: 0.5px solid var(--light-orange);
    width: 100%;
    height: 0px;

}
.socials span{
    width: 45px;
    height: 45px;
}
.linkedlin{
    background-image: url(./assets/images/linkedlin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    
}
.linkedlin:hover{
    background-image: url(./assets/images/linkedlin_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.github{
    background-image: url(./assets/images/github.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.github:hover{
    background-image: url(./assets/images/github_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook{
    background-image: url(./assets/images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook:hover{
    background-image: url(./assets/images/facebook_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.instagram{
    background-image: url(./assets/images/instagram.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.instagram:hover{
    background-image: url(./assets/images/instagram_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


@keyframes switchIcon {
    0% {
        z-index: 1;
        opacity: 1;
    }
    50% {
        z-index: 0;
        opacity: 0;
    }
    100% {
        z-index: 1;
        opacity: 1;
    }
}
@keyframes rotate{
    from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes rotate2{
    from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
@keyframes giggle {
    0% { transform: rotate(5deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
  }
  @keyframes rotateEarth {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*phones*/
@media (max-width:30em)  { 
    .icon-container{
        display: none;
    }
    /* 480px */
    #cloud{
        overflow: hidden;
        display: none;
    }
   
    .hamburger_view {
        filter: none;
        /* visibility: visible;
        position: fixed;
        display: flex; */
            height: 100vh;
        z-index: 2;
        
        
        width: 50%;
        background-color: var(--hambourger-back-color);
        margin-top: -36px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        
    
    }
    .hamburger_view div{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .hamburger_view a{
        margin-top: 60px;
        text-decoration: none;
        color: var(--Dark-green);
        font-size: 1.375em;
    }
    .hamburger_view .Ham_button{
        margin-top: -40px;
        width: 170px;
        height: 50px;
        color: white;
        border: none;
        border-radius: 50px;
        background-color: var(--light-orange);
        font-size: 1.25em;
        transition: var(--transition-delay-buttons);
        position: relative;
        bottom: 43px;
        transform:none;

    }
    .hamburger_view .Ham_button:hover{
        background-color: white;
        color: var(--orange);
        transform: scale(1.08);
        transition: var(--transition-delay-buttons);

    }
    .cross2{
        margin-top: 0px;
        visibility: visible;
        display: inline;
        z-index: 2;
        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
        transform: rotate(-45deg);
    }
     .cross{

        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
        transform: rotate(45deg);
        position: relative;
        top: 10px;
    }
    .hamburger_view hr{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 50px;
        
 
    }
    .Flexer_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;

    }
    .container{
        width: calc(100% - 5rem );
    }
    .button-container{
        visibility: hidden;
    }
    .hambourger{
        visibility: visible;
       
        display: inline;
    }
    .hambourger hr{

        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
    }
  
    .front-page{
        flex-direction: column;
        height: 409px;
        align-items: center;
    }
    .resume{
        visibility: hidden;
    }
    .resume2{
        visibility: visible;
        margin-top: 40px;
       
        width: 170px;
        height: 50px;
        color: white;
        border: none;
        border-radius: 50px;
        background-color: var(--light-orange);
        font-size: 1.25em;
        transition: var(--transition-delay-buttons);
        
        
    }
    .resume2:hover{
        cursor: pointer;
    background-color: var(--hover-color-button);
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
    }
    .front-page .bigtitle {
        margin-top: 50px;
        width: auto;
        
    }
    .front-page .subtitle {
        width: auto;
       
        margin: 0px;
        font-size:1.3125em ;
        margin-top: 9px;
        margin-top: 0px;
    }
    .front-page_1{
        display: flex;
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
 
    }
    .front-page_2{
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        min-height: 450px;
        margin-top: 50px;
        margin-bottom: 50px;

    }
    /* .profile{
        right: 0px;
 
        bottom: 162px;
    } */
    .About{
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .About_text{
        width: auto;
    }
    .About_1{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About .smalltitle{
        width: auto;
 
    }
    .About_2{
        visibility: hidden;
        display: none;
    }
    .About img{
        visibility: hidden;
    }
    .sec_end{
        margin-top: 0px;
    }
    .work_done{
        flex-direction: column;
        align-items: center;
    }
    .work_done img{
    width: 47.91666666666667vw;
    margin-top: 15px;
    }
    .skills{
        visibility: hidden;
        display: none;
    }
    .skills2{
        padding-top: 124px;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -100px;
        overflow: hidden;
    }
    .skills2 p{
        width: 107px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 55px;
        }
    .skills2 .sub_skill {
        width: 214px;
        height: 110px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        right: 48px;
        margin-bottom: 40px;
        position: relative;
    }
    #git{
        margin-top: 0px;
    }
    #postman{
        width: 100px;
    display: inline-block;
    }
    .languages{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        position: absolute;
    }
    .languages2{
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .languages2 img{
        width: 80.33px;
        margin-left: 30px;
        position: relative;
        right: 15px;
    }
    .languages2 span{
        margin-top: 40px;
    }
    .contact_me{
        flex-direction: column;
    }
    .contact_me_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .contact_me .text_contact{
        margin-left: 60px;
        width: calc(100% - 4em);
    }
    .contact_me_1 input{
        width:280px
    }
    #message{
        width:280px
    }
    .contact_me_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}
/* tablets 481px-810px*/
@media (max-width:50.625em) and (min-width:30em){
    .icon-container{
        display: none;
    }
    #cloud{
        overflow: hidden;
        display: none;
    }

    .hamburger_view {
        filter: none;
        /* visibility: visible;
        position: fixed;
        display: flex; */
            height: 100vh;
        z-index: 2;
  

        width: 50%;
        background-color: var(--hambourger-back-color);
        margin-top: -36px;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        
    
    }
    .hamburger_view div{
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }
    .hamburger_view a{
        margin-top: 60px;
        text-decoration: none;
        color: var(--Dark-green);
        font-size: 1.375em;
    }
    .hamburger_view .Ham_button{
        margin-top: -40px;
        width: 170px;
        height: 50px;
        color: white;
        border: none;
        border-radius: 50px;
        background-color: var(--light-orange);
        font-size: 1.25em;
        transition: var(--transition-delay-buttons);
        position: relative;
        bottom: 43px;
        transform:none;

    }
    .hamburger_view .Ham_button:hover{
        background-color: white;
        color: var(--orange);
        transform: scale(1.08);
        transition: var(--transition-delay-buttons);

    }
    .cross2{
        margin-top: 0px;
        visibility: visible;
        display: inline;
        z-index: 2;
        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
        transform: rotate(-45deg);
    }
     .cross{

        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
        transform: rotate(45deg);
        position: relative;
        top: 10px;
    }
    .hamburger_view hr{
        position: relative;
        display: flex;
        flex-direction: column;
        margin-left: 80px;
        
        /* align-items:flex-end; */
    }
    .Flexer_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items:center;

    }

    
    .hambourger{
        visibility: visible;
        
        display: inline;
    }
    .hambourger hr{

        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
    }
    .container{
        width: calc(100% - 5rem );
    }
    .button-container{
        visibility: hidden;
    }


    .front-page{
        flex-direction: column;
        height: 409px;
    }
    .resume{
        visibility: hidden;
    }
    .resume2{
        visibility: visible;
        margin-top: 40px;
        width: 170px;
        height: 50px;
        color: white;
        border: none;
        border-radius: 50px;
        background-color: var(--light-orange);
        font-size: 1.25em;
        transition: var(--transition-delay-buttons);
        
        
    }
    .resume2:hover{
        cursor: pointer;
    background-color: var(--hover-color-button);
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
    }
    .front-page .bigtitle {
        margin-top: 50px;
        width: auto;
        
    }
    .front-page .subtitle {
        width: auto;
        margin: 0px;
        font-size:1.3125em ;
        margin-top: 9px;
        margin-top: 0px;
    }
    .front-page_1{
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .front-page_2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .profile{
        max-width: 400px;

    }
    .About{
        margin-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About_text{
        width: auto;
    }
    .About_1{
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .About .smalltitle{
            width: auto;
    }
    .About_2{
        visibility: hidden;
        display: none;
    }
    .About img{
        visibility: hidden;
    }
    .sec_end{
        margin-top: 0px;
    }
    .work_done{
        flex-direction: column;
        align-items: center;
    }
    .work_done img{
    width: 47.91666666666667vw;
    margin-top: 15px;
    }
    .skills{
        visibility: hidden;
        display: none;
    }
    .skills2{
        padding-top: 124px;
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: -100px;
        overflow: hidden;
    }
    .skills2 p{
        width: 107px;
        height: 100px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: 55px;
        }
    .skills2 .sub_skill {
        width: 214px;
        height: 110px;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        right: 48px;
        margin-bottom: 40px;
        position: relative;
    }
    #git{
        margin-top: 0px;
    }
    #postman{
        width: 100px;
    display: inline-block;
    }
    .languages{
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: -1;
        position: absolute;
    }
    .languages2{
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .languages2 img{
        width: 80.33px;
        margin-left: 30px;
        position: relative;
        right: 15px;
    }
    .languages2 span{
        margin-top: 40px;
    }
    .contact_me{
        flex-direction: column;
    }
    .contact_me_1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .contact_me .text_contact{
        margin-left: 60px;
        width: calc(100% - 4em);
    }
    .contact_me_1 input{
        width: 65%;
    }
    #message{
        width:65%;
    }
    .contact_me_2{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


}
@media (min-width:811px) and (max-width: 1200px) {
    .About{
        width: 100%;
    }
    .About_2{
        margin-left: 30px;
    }
    .About_2 #comp{
        width: 200px;
    }

    .About_text{
        width: 16.188em;

    }
    .work_done a{
        width: 26%;
    }
    .work_done img{
        width: 100%;
    }
  }
 