:root{
    --Dark-green: #0B525B;
    --light-orange:#F4A261;
    --orange:#FF6700;
    --text:white;
    --light-text:rgba(255, 255, 255, 0.82);
    --nav-color:#F4A261;
    --hover-color-nav:#FF6700;
    --hover-color-button:white;
    --hover-color-button-text:#FF6700;
    --invalid-color:red;
    --big-title-56:3.5rem;
    --line-height:0.666666667;
    --sub-title-38:2.375rem;
    --small-title-42:2.625rem;
    --container-1237:77.3125rem;
    --transition-delay-buttons:0.3s;
    
    /* --sub-title-TS:2.625rem;
    --sub-title-LH-:0.666666667; */

}

html{
    box-sizing: border-box;
    font-size: 100%;
}
*,*::before,*::after{
    box-sizing: inherit;
}
body{
    margin:0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--Dark-green);
    overflow-x: hidden;
}
header{
    margin-top: 30px;
}
.container{
    width: calc(100% - 12.5rem);
   
    max-width: var(--container-1237);
    margin-inline: auto;
}

.navigation{
    width: 100%;
display: grid;
grid-template-columns: 50% 50%;

}
.logo{
    width: 60px;
    height: 60px;
    grid-column-start: 1;
  grid-column-end: 1;
}
.bigtitle{
    font-size: 2.4375rem;
font-size: clamp(2.4375rem, 1.7291666666666667rem + 2.361111111111111vw, 3.5rem);
text-decoration: none;
color: var(--text);
}
.button-container{
    display: flex;
flex-direction: row;
justify-content: flex-end;
}
.nav_button{
 
    width: 89px;
    height: 41px;
    color: var(--text);
    background-color: var(--light-orange);
    border-radius: 20px;
    border: none;
    font-size: 1.3125em;
    line-height: 1.5625em;
    margin-left: 12px;
    grid-column-start: 2;
  grid-column-end: 2;
  transition: var(--transition-delay-buttons);
}
.hambourger{
    visibility: hidden;
}
    

.nav_button:hover{
    background-color: white;
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
}
.front-page{
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.front-page p{
    width: 40.500vw;
    padding: 0px;
    margin: 0px;
}
.front-page .bigtitle{
    margin-top: 105px;

}
.front-page .resume{
    margin-top: 128px;
    width: 210px;
    height: 70px;
    color: white;
    border: none;
    border-radius: 50px;
    background-color: var(--light-orange);
    font-size: 2.25em;
    transition: var(--transition-delay-buttons);
}
.front-page .resume:hover{
    cursor: pointer;
    background-color: var(--hover-color-button);
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
}
.resume2{
    visibility: hidden;
}
.profile{
    width: 51.250vw;
    height: auto;
    position: relative;
    right: 45px;    
    /* left: 45px; */
}
.subtitle{
    font-size: var(--sub-title-38);
    color: white;
}
.About{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.About .smalltitle{
    color: white;
    font-size: 2.625em;

}
.About_text{
    font-size: 1.9375em;
    text-align: justify;
    width: 21.1875em;
    color: white;
}
.About_2{
    display: flex;
}
#G1{
    animation: rotate 2.5s linear infinite;
}
#G2{
    animation: rotate2 2.5s linear infinite;
}
#cloud{
    animation: giggle 1s ease-in-out infinite;
}
#globe{
    /* animation: rotateBounce 6s ease-in-out infinite; */
    animation: rotateEarth 10s linear infinite;
}
.icon-container {
    position: relative;
    left: 35.375em;
    animation: switchIcon 2s ease-in-out infinite;
    bottom: 99px;
}
#DB1{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#DB2{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    opacity: 0;
}
.work_done{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills p{
width: 107px;
height: 100px;
background-repeat: no-repeat;
background-position: center;
}
#git{
    background-image: url(./assets/images/git.svg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    margin-top: 23px;
 
}
#git:hover{
    background-image: url(./assets/images/git_hover.svg);
    background-repeat: no-repeat;
background-position: center center;
}
#css{
    background-image: url(./assets/images/CSS3.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#css:hover{
    background-image: url(./assets/images/CSS3_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#html{
    background-image: url(./assets/images/Html.png);
    background-repeat: no-repeat;
    background-position: center center;
}
#html:hover{
    background-image: url(./assets/images/Html_hover.png);
    background-repeat: no-repeat;
    background-position: center center;
}
#js{
    background-image: url(./assets/images/javascript.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#js:hover{
    background-image: url(./assets/images/javascript_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#arduino{
    background-image: url(./assets/images/Arduino.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#arduino:hover{
    background-image: url(./assets/images/Arduino_hover.svg);
    background-repeat: no-repeat;
background-position: center center;
}
#mongodb{
    background-image: url(./assets/images/mongodb.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#mongodb:hover{
    background-image: url(./assets/images/mongodb_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#postman{
    background-image: url(./assets/images/postman.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
#postman:hover{
    background-image: url(./assets/images/postman_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.languages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contact_me{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}

.contact_me_1{
    width: 80%;
    display: flex;
    flex-direction: column;
    
}
.contact_me_1 .title_contact{
    margin-top: 46px;
    margin-bottom: 0px;
    font-size:2.875em ;
    color: white;
}
.contact_me_1 .text_contact{
    font-size:1.25em ;
    color: white;
}
.contact_me_1 input{
    width: 382px;
    height: 43px;
    color: white;
    margin-top: 40px;
    border-radius: 10px;
    background-color: var(--Dark-green);
    border: 1px solid var(--light-orange);
}
.contact_me_1 input::placeholder{
    font-size: 20px;
    color: white;

}
#message{
    width: 544px;
    height: 166px;
    color: white;
    border-radius: 10px;
    margin-top: 51px;
    background-color: var(--Dark-green);
    border: 1px solid var(--light-orange);
}
#output{
    color: red;
    font-size: 23px;
    margin-top: 8px;
    margin-left: 99px;
}
.contact_me_1 textarea::placeholder{
    position: relative;
    top:20px;
    font-size: 20px;
    color: white;
    background-color: var(--Dark-green);
    text-decoration: none;
}
.button_contact{
    width: 166px;
    height: 55px;
    font-size: 20px;
    margin-top: 40px;
    background-color: var(--orange);
    color: white;
    border-radius: 50px;
    border: none;
    transition: var(--transition-delay-buttons);
}
.button_contact:hover{
    background-color: var(--hover-color-button);
    color: var(--orange);
    transform: scale(1.08);
    transition: var(--transition-delay-buttons);
}
.contact_me_2{
    width: 20%;
    margin-top: 40px;
    color: white;
}
.contact_me_2 .line{
    display: block;
    border: 0.5px solid var(--light-orange);
    width: 240px;
    height: 0px;
}
.socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer{
    
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
    font-size:0.875em ;
    
}
.footer_line{
    margin-top: 40px;
    display: block;
    border: 0.5px solid var(--light-orange);
    width: 100%;
    height: 0px;

}
.socials span{
    width: 45px;
    height: 45px;
}
.linkedlin{
    background-image: url(./assets/images/linkedlin.svg);
    background-repeat: no-repeat;
    background-position: center center;
    
}
.linkedlin:hover{
    background-image: url(./assets/images/linkedlin_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.github{
    background-image: url(./assets/images/github.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.github:hover{
    background-image: url(./assets/images/github_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook{
    background-image: url(./assets/images/facebook.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.facebook:hover{
    background-image: url(./assets/images/facebook_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.instagram{
    background-image: url(./assets/images/instagram.svg);
    background-repeat: no-repeat;
    background-position: center center;
}
.instagram:hover{
    background-image: url(./assets/images/instagram_hover.svg);
    background-repeat: no-repeat;
    background-position: center center;
}


@keyframes switchIcon {
    0% {
        z-index: 1;
        opacity: 1;
    }
    50% {
        z-index: 0;
        opacity: 0;
    }
    100% {
        z-index: 1;
        opacity: 1;
    }
}
@keyframes rotate{
    from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes rotate2{
    from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}
@keyframes giggle {
    0% { transform: rotate(5deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
  }
  @keyframes rotateEarth {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
/*phones*/
@media (max-width:30em) and (min-width:20em) { 
    /* 480px */
    .container{
        width: calc(100% - 5rem );
    }
    .button-container{
        visibility: hidden;
    }
    .hambourger{
        visibility: visible;
        z-index: 2;
    }
    .hambourger hr{

        width: 42px;
        height: 0px;
        border: 1px solid #F4A261;
    }
    .front-page{
        flex-direction: column;
    }
    .resume{
        visibility: hidden;
    }
    .resume2{
        visibility: visible;
    }
    .front-page .bigtitle {
        margin-top: 50px;
        width: 100%;
    }
    
}
/* small screen laptops */
@media (max-width:64em) and (min-width:48em){

}